amply==0.1.4
APScheduler==3.6.3
binarytree==4.1.0
catfish==1.4.10
certifi==2018.8.24
chardet==3.0.4
click==7.1.2
cupshelpers==1.0
cycler==0.10.0
defusedxml==0.5.0
distro==1.3.0
distro-info==0.21
docutils==0.16
entrypoints==0.3
evdev==1.1.2
flake8==3.7.9
Flask==1.1.2
Flask-APScheduler==1.11.0
idna==2.6
img2pdf==0.3.3
importlib-metadata==2.0.0
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==1.0.0
kiwisolver==1.1.0
lightdm-gtk-greeter-settings==1.2.2
lxml==4.3.2
MarkupSafe==1.1.1
matplotlib==3.2.1
mccabe==0.6.1
meld==3.20.0
mugshot==0.4.1
numpy==1.18.1
onboard==1.4.1
paho-mqtt==1.5.1
pandas==1.1.5
pdfarranger==1.6.2
pexpect==4.6.0
pikepdf==1.0.5+dfsg
Pillow==5.4.1
protobuf==3.14.0
PuLP==2.3.1
pycairo==1.16.2
pycodestyle==2.5.0
pycups==1.9.73
pycurl==7.43.0.2
pyflakes==2.1.1
PyGObject==3.30.4
pyparsing==2.4.6
PyPDF2==1.26.0
python-apt==1.8.4.3
python-dateutil==2.8.1
python-debian==0.1.35
python-mnist==0.7
python-xlib==0.23
pytz==2020.4
pyudev==0.21.0
reportlab==3.5.13
requests==2.21.0
rpl==1.5.6
schedule==0.6.0
scipy==1.4.1
seaborn==0.11.0
six==1.12.0
termcolor==1.1.0
threadpoolctl==2.1.0
tzlocal==2.1
ufw==0.36
unattended-upgrades==0.1
urllib3==1.24.1
Werkzeug==1.0.1
wordcloud==1.8.1
wrapt==1.12.1
zipp==3.3.1
